/*
 * Mrrr Web Comic Application
 * @author Matthew Colón
 */ 

$archives-content-padding: 15px;
$icon-dimension: 18px;
$root-icon: url("../images/archives_tree_root.gif") no-repeat;
$node-icon: url("../images/archives_tree_node.gif") no-repeat;
$leaf-icon: url("../images/archives_tree_leaf.gif") no-repeat;
$connector-straight-icon: url("../images/archives_tree_straight.gif") no-repeat;
$connector-tee-icon: url("../images/archives_tree_tee.gif") no-repeat;
$connector-corner-icon: url("../images/archives_tree_corner.gif") no-repeat;

.archives-content {

    font-family: $default-font-family;
    font-size: $default-font-size;
    font-weight: bold;
    /* Use "100vh" instead of "100%" since Firefox doesn't honor "100%" in calc */
    height: calc(100vh - (#{$bar-height} * 2) - (#{$desktop-padding} * 2) - #{$window-border-dimension} - (#{$archives-content-padding} * 2));
    overflow-y: auto;
    padding: $archives-content-padding;

    .root-node {
        background: $root-icon;
        padding-left: 22px;
        height: $icon-dimension;
    }

    .year-node {

        background: $connector-tee-icon,
                    $node-icon $icon-dimension;
        padding-left: 40px;
        height: $icon-dimension;

        &.year-last {
            background: $connector-corner-icon,
                        $node-icon $icon-dimension;
        }
    }

    .month-node {

        background: $connector-straight-icon,
                    $connector-tee-icon $icon-dimension,
                    $node-icon ($icon-dimension * 2);
        padding-left: 58px;
        height: $icon-dimension;

        &.month-last {

            background: $connector-straight-icon,
                        $connector-corner-icon $icon-dimension,
                        $node-icon ($icon-dimension * 2);

            &.year-last {
                background: $connector-corner-icon $icon-dimension,
                            $node-icon ($icon-dimension * 2);
            }
        }

        &.year-last {
            background: $connector-tee-icon $icon-dimension,
                        $node-icon ($icon-dimension * 2);
        }
    }

    .date-node {

        background: $connector-straight-icon,
                    $connector-straight-icon $icon-dimension,
                    $connector-tee-icon ($icon-dimension * 2),
                    $leaf-icon no-repeat ($icon-dimension * 3);
        padding-left: 76px;
        height: $icon-dimension;

        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a:active {
            text-decoration: underline;
        }

        .title {
            color: #FF9900;
            font-weight: normal;
        }

        &.date-last {

            background: $connector-straight-icon,
                        $connector-straight-icon $icon-dimension,
                        $connector-corner-icon ($icon-dimension * 2),
                        $leaf-icon no-repeat ($icon-dimension * 3);

            &.month-last {

                background: $connector-straight-icon,
                            $connector-corner-icon ($icon-dimension * 2),
                            $leaf-icon no-repeat ($icon-dimension * 3);

                &.year-last {
                    background: $connector-corner-icon ($icon-dimension * 2),
                                $leaf-icon no-repeat ($icon-dimension * 3);
                }
            }

            &.year-last {
                background: $connector-straight-icon $icon-dimension,
                            $connector-corner-icon ($icon-dimension * 2),
                            $leaf-icon no-repeat ($icon-dimension * 3);
            }
        }

        &.month-last {

            background: $connector-straight-icon,
                        $connector-tee-icon ($icon-dimension * 2),
                        $leaf-icon no-repeat ($icon-dimension * 3);

            &.year-last {
                background: $connector-tee-icon ($icon-dimension * 2),
                            $leaf-icon no-repeat ($icon-dimension * 3);
            }
        }

        &.year-last {
            background: $connector-straight-icon $icon-dimension,
                        $connector-tee-icon ($icon-dimension * 2),
                        $leaf-icon no-repeat ($icon-dimension * 3);
        }
    }
}