/*
 * Mrrr Web Comic Application
 * @author Matthew Colón
 */ 

@import "common.scss";

.home-content {
    background-color: #666666;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: white;
    width: 500px;
    padding: 0 15px 15px 15px;
    overflow-y: auto;
}