$default-font-family: Helvetica, Arial, sans-serif;
$default-font-size: 13px;
$desktop-padding: 15px;
$window-border-dimension: 4px;
$bar-height: 34px;

@import "page.scss";
@import "home.scss";
@import "archives.scss";
@import "comic.scss";